/* GENERAL */
html, body {
	color: #343434;
}

/* PAGE STRUCTURE */
.header, .content, .footer {
	width: 80%;
	margin: 10px auto;
	padding: 30px;
	clear: both;
}
.header {
	position: relative;
	height: 20px;
	border: 1px solid #c5c1cc;
}

.header img {
	float: left;
	width: 200px;
	height: 50;
	margin: 0 auto;
}

.footer {
	border: 1px solid #c5c1cc;
	text-align: right;
	padding: 10px;
}

/* HEADER */
.logo {
	width: 200px;
	height: 50;
	margin: 0 auto;
}
.slogan-wrapper {
	float: right;
	width: 30%;
	margin: auto;
	font-style: italic;
	font-weight: bold;
}
.slogan-wrapper h1 {
	color: #6436c1;
}

/* CONTENT */
.content img {
	display: block;
	float: left;
	width: 300px;
	margin: 20px;
	border-radius: 150px;
}
.menu {
	float: left;
	width: 20%;
	padding: 30px 50px 30px 0;
}
.workarea {
	float: left;
	width: 60%;
}
.task-item {
	padding: 10px;
	margin: 10px;
	width: 100%;
	border: 1px solid #cccccc;
}
.copyright {
	font-size: 10px;
	text-align: center;
}
/* FOOTER */
/*.footer {
}*/